<!-- Start deneb_project section -->
<section class="deneb_project project_v1">
	<div class="shape_v3">
		<img src="/assets/images/shape/shape_10.png" class="shape_10" alt="">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text-center">
					<h2>{{site.data.data.train_busines_title}}</h2>
					<p>{{site.data.data.train_booking_description_3}}</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="project_button_2 text-center">
					<!-- <button class="project_btn active_btn" data-filter="*">すべて</button>
					<button class="project_btn" data-filter=".cat1">{{site.data.data.travel_agency_booking}}</button>
					<button class="project_btn" data-filter=".cat2">個人旅行者向けの海外電車とバスの予約アプリとウェブサイト</button>
					<button class="project_btn" data-filter=".cat3">OTA向け海外電車とバスの検索＆予約API統合</button>
					<button class="project_btn" data-filter=".cat4">目的地旅行プロダクト</button> -->
					<!-- <button class="project_btn" data-filter=".cat5">Mobile App</button> -->
				</div>
			</div>
		</div>	
		<div class="projects_slider_content">
			<div class="single_project cat1 cat5">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="/assets/images/portfolio_1.jpg" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<h4><a href="#">{{site.data.data.travel_agency_booking}}</a></h4>
						<p>Design</p>
					</div>
				</div>
			</div>
			<div class="single_project cat2 cat4">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="/assets/images/portfolio_2.jpg" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<h4><a href="#">{{site.data.data.individual_traveller_booking}}</a></h4>
						<p>Branding</p>
					</div>
				</div>
			</div>
			<div class="single_project cat3 cat1">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="/assets/images/portfolio_3.jpg" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<h4><a href="#">{{site.data.data.api_integration}}</a></h4>
						<p>Mobile</p>
					</div>
				</div>
			</div>						
			<div class="single_project cat1 cat5">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="/assets/images/portfolio_1.jpg" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<h4><a href="#">{{site.data.data.travel_products}}</a></h4>
						<p>Design</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_project section -->