<!-- Start deneb_experience section -->
<section class="deneb_experience">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text-center">
					<h2>{{site.data.data.train_partners}}</h2>
					<p>{{site.data.data.train_partners_description}}</p>
				</div>
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-5 col-md-5">
					<div class="deneb_text_box">
						<p>{{site.data.data.db_description}}</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>1.</h3>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="deneb_info_box">
						<h4>Deutsche Bahn(DB)</h4>
						<h5>{{site.data.data.db_title}}</h5>
						<!-- <h6>March 2007- August 2020</h6> -->
					</div>
				</div>
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-5 col-md-5">
					<div class="deneb_info_box">
						<h4>Trenitalia</h4>
						<h5>{{site.data.data.trenitalia_title}}</h5>
						<!-- <h6>March 2007- August 2020</h6> -->
					</div>
				</div>
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>2.</h3>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="deneb_text_box">
						<p>{{site.data.data.trenitalia_description}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-5 col-md-5">
					<div class="deneb_text_box">
						<p>{{site.data.data.sbb_description}}</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>3.</h3>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="deneb_info_box">
						<h4>SBB</h4>
						<h5>{{site.data.data.sbb_title}}</h5>
						<!-- <h6>March 2007- August 2020</h6> -->
					</div>
				</div>
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-5 col-md-5">
					<div class="deneb_info_box">
						<h4>Flixbus</h4>
						<h5>{{site.data.data.flixbus_title}}</h5>
						<!-- <h6>March 2007- August 2020</h6> -->
					</div>
				</div>
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>4.</h3>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="deneb_text_box">
						<p>{{site.data.data.flixbus_description}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-5 col-md-5">
					<div class="deneb_text_box">
						<p>{{site.data.data.italo_description}}</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>5.</h3>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="deneb_info_box">
						<h4>Italo</h4>
						<h5>{{site.data.data.italo_title}}</h5>
						<!-- <h6>March 2007- August 2020</h6> -->
					</div>
				</div>
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-5 col-md-5">
					<div class="deneb_info_box">
						<h4>SNCF</h4>
						<h5>{{site.data.data.sncf_title}}</h5>
						<!-- <h6>March 2007- August 2020</h6> -->
					</div>
				</div>
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>6.</h3>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="deneb_text_box">
						<p>{{site.data.data.sncf_description}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-5 col-md-5">
					<div class="deneb_text_box">
						<p>{{site.data.data.renfe_description}}</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>7.</h3>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="deneb_info_box">
						<h4>Renfe</h4>
						<h5>{{site.data.data.renfe_title}}</h5>
						<!-- <h6>March 2007- August 2020</h6> -->
					</div>
				</div>
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-5 col-md-5">
					<div class="deneb_info_box">
						<h4>ÖBB</h4>
						<h5>{{site.data.data.obb_title}}</h5>
						<!-- <h6>March 2007- August 2020</h6> -->
					</div>
				</div>
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>8.</h3>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="deneb_text_box">
						<p>{{site.data.data.obb_description}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-5 col-md-5">
					<div class="deneb_text_box">
						<p>{{site.data.data.korail_description}}</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>9.</h3>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="deneb_info_box">
						<h4>Korail</h4>
						<h5>{{site.data.data.korail_title}}</h5>
						<!-- <h6>March 2007- August 2020</h6> -->
					</div>
				</div>
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-5 col-md-5">
					<div class="deneb_info_box">
						<h4>China Rail</h4>
						<h5>{{site.data.data.china_rail_title}}</h5>
						<!-- <h6>March 2007- August 2020</h6> -->
					</div>
				</div>
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>11.</h3>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="deneb_text_box">
						<p>{{site.data.data.china_rail_description_1}}</p>
						<p>{{site.data.data.china_rail_description_2}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-5 col-md-5">
					<div class="deneb_text_box">
						<p>{{site.data.data.national_rail_description_1}}</p>
						<p>{{site.data.data.national_rail_description_2}}</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>12.</h3>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="deneb_info_box">
						<h4>National Rail</h4>
						<h5>{{site.data.data.national_rail_title}}</h5>
						<!-- <h6>March 2007- August 2020</h6> -->
					</div>
				</div>
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-5 col-md-5">
					<div class="deneb_info_box">
						<h4>SJ</h4>
						<h5>{{site.data.data.sweden_rail_title}}</h5>
						<!-- <h6>March 2007- August 2020</h6> -->
					</div>
				</div>
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>13.</h3>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="deneb_text_box">
						<p>{{site.data.data.sweden_rail_description}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-5 col-md-5">
					<div class="deneb_text_box">
						<p>{{site.data.data.benelux_rail_description}}</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>14.</h3>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="deneb_info_box">
						<h4>BeNeLux</h4>
						<h5>{{site.data.data.benelux_rail_description}}</h5>
						<!-- <h6>March 2007- August 2020</h6> -->
					</div>
				</div>
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-5 col-md-5">
					<div class="deneb_info_box">
						<h4>Vy</h4>
						<h5>{{site.data.data.vy_rail_title}}</h5>
						<!-- <h6>March 2007- August 2020</h6> -->
					</div>
				</div>
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>15.</h3>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="deneb_text_box">
						<p>{{site.data.data.vy_rail_description_1}}</p>
						<p>{{site.data.data.vy_rail_description_2}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-5 col-md-5">
					<div class="deneb_text_box">
						<p>{{site.data.data.vr_rail_description}}</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>16.</h3>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="deneb_info_box">
						<h4>VR</h4>
						<h5>{{site.data.data.vr_rail_title}}</h5>
						<!-- <h6>March 2007- August 2020</h6> -->
					</div>
				</div>
				
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-5 col-md-5">
					<div class="deneb_info_box">
						<h4>PKP (Polskie Koleje Państwowe)</h4>
						<h5>{{site.data.data.poland_rail_title}}</h5>
						<!-- <h6>March 2007- August 2020</h6> -->
					</div>
				</div>
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>17.</h3>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="deneb_text_box">
						<p>{{site.data.data.poland_rail_description_1}}</p>
						<p>{{site.data.data.poland_rail_description_2}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-5 col-md-5">
					<div class="deneb_text_box">
						<p>{{site.data.data.russia_rail_description_1}}</p>
						<p>{{site.data.data.russia_rail_description_2}}</p>
						<p>{{site.data.data.russia_rail_description_3}}</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>18.</h3>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="deneb_info_box">
						<h4> RZD（РЖД）</h4>
						<h5>{{site.data.data.russia_rail_title}}</h5>
						<!-- <h6>March 2007- August 2020</h6> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_experience section -->