<!-- Start deneb_project section -->
<section class="deneb_project project_v2 section_padding" id="project">
<div class="container">
<div class="row">
	<div class="col-lg-12">
		<div class="section_title text-center">
			<h2>{{site.data.data.train_busines_title}}</h2>
			<p>{{site.data.data.travel_support}}</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="project_button_2 text-center">
			<button class="project_btn active_btn" data-filter="*">{{site.data.data.all}}</button>
			<button class="project_btn" data-filter=".cat1">{{site.data.data.travel_agency_booking}}</button>
			<button class="project_btn" data-filter=".cat2">{{site.data.data.individual_traveller_booking}}</button>
			<button class="project_btn" data-filter=".cat3">{{site.data.data.api_integration}}</button>
			<button class="project_btn" data-filter=".cat4">{{site.data.data.travel_products}}</button>
			<!-- <button class="project_btn" data-filter=".cat5">Mobile App</button> -->
		</div>
	</div>
</div>
<div class="row grid_wrapper">
	<div class="col-lg-4 col-md-6 col-sm-12 single_project cat1">
		<div class="grid_item">
			<div class="deneb_img">
				<img src="../assets/images/ground_transportation_countries.jpg" class="img-fluid" alt="Design & Develop"/>
			</div>
			<div class="deneb_info">
				<h4><a href="#">{{site.data.data.travel_agency_booking}}</a></h4>
				<!-- <p>Design</p> -->
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-12 single_project cat2">
		<div class="grid_item">
			<div class="deneb_img">
				<img src="../assets/images/trains.png" class="img-fluid" alt="Product Display"/>
			</div>
			<div class="deneb_info">
				<h4><a href="#">{{site.data.data.individual_traveller_booking}}</a></h4>
				<!-- <p>Design</p> -->
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-12 single_project cat3">
		<div class="grid_item">
			<div class="deneb_img">
				<img src="../assets/images/api-integration.jpg" class="img-fluid" alt="Design & Develop"/>
			</div>
			<div class="deneb_info">
				<h4><a href="#">{{site.data.data.api_integration}}</a></h4>
				<!-- <p>Design</p> -->
			</div>
		</div>
	</div>
	 <div class="col-lg-4 col-md-6 col-sm-12 single_project cat4">
		<div class="grid_item">
			<div class="deneb_img">
				<img src="../assets/images/new schw.png" class="img-fluid" alt="Design & Develop"/>
			</div>
			<div class="deneb_info">
				<h4><a href="#">{{site.data.data.travel_products}}</a></h4>
				<!-- <p>Design</p> -->
			</div>
		</div>
	</div>
	<!--<div class="col-lg-4 col-md-6 col-sm-12 single_project cat5">
		<div class="grid_item">
			<div class="deneb_img">
				<img src="../assets/images/portfolio_5.jpg" class="img-fluid" alt="Design & Develop"/>
			</div>
			<div class="deneb_info">
				<h4><a href="#">Design & Develop</a></h4>
				<p>Design</p>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-12 single_project cat1">
		<div class="grid_item">
			<div class="deneb_img">
				<img src="../assets/images/portfolio_6.jpg" class="img-fluid" alt="Design & Develop"/>
			</div>
			<div class="deneb_info">
				<h4><a href="#">Design & Develop</a></h4>
				<p>Design</p>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-12 single_project cat4">
		<div class="grid_item">
			<div class="deneb_img">
				<img src="../assets/images/portfolio_7.jpg" class="img-fluid" alt="Design & Develop"/>
			</div>
			<div class="deneb_info">
				<h4><a href="#">Design & Develop</a></h4>
				<p>Design</p>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-12 single_project cat2">
		<div class="grid_item">
			<div class="deneb_img">
				<img src="../assets/images/portfolio_8.jpg" class="img-fluid" alt="Design & Develop"/>
			</div>
			<div class="deneb_info">
				<h4><a href="#">Design & Develop</a></h4>
				<p>Design</p>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-12 single_project cat3">
		<div class="grid_item">
			<div class="deneb_img">
				<img src="../assets/images/portfolio_9.jpg" class="img-fluid" alt="Design & Develop"/>
			</div>
			<div class="deneb_info">
				<h4><a href="#">Design & Develop</a></h4>
				<p>Design</p>
			</div>
		</div>
	</div> -->
</div>
</div>
</section>
<!-- End deneb_project section -->